@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Navbar Style */
.nav-container {
  width: 80%;
  margin: 24px auto;
}
.nav-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.nav-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-1 > h3 {
  color: var(--Black, rgba(17, 17, 17, 1));

  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.nav-2 > ul {
  display: flex;
  gap: 24px;
}
.nav-2 > ul > li {
  list-style: none;
}
.nav-2 > ul > li > a {
  text-decoration: none;
}
.a-1 {
  color: var(--Orange, rgba(254, 163, 1, 1));
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.a-2 {
  color: var(--Sky Blue, rgba(1, 172, 253, 1));
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.a-3 {
  color: rgba(5, 212, 223, 1);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.a-4 {
  color: rgba(93, 88, 239, 1);
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.nav-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-3 > button {
  width: 157px;
  height: 42px; /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: var(--Orange, rgba(254, 163, 1, 1));
}
.nav-3 > i {
  display: none;
}
hr {
  margin-top: 20px;
  display: none;
}
/* Banner Style */
.banner-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-description > h3 {
  width: 80%;
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.emp {
  color: var(--Orange, rgba(254, 163, 1, 1));
}
.vision {
  color: rgba(1, 172, 253, 1);
}
.banner-description > p {
  width: 80%;
  color: rgba(17, 17, 17, 1);
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.banner-description > button {
  /* Frame 3 */
  width: 197px;
  height: 50px; /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: var(--Black, rgba(17, 17, 17, 1));
}

/* Standard Section */
.standard {
  width: 80.5%;
  margin: 20px auto;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.standard-title {
  color: rgba(0, 0, 0, 1);
  font-family: Quicksand;
  font-size: 28px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
}
.standard-card-container {
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
}
.card-1 {
  box-sizing: border-box;
  border: 0.94px solid rgba(222, 245, 255, 1);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(222, 245, 255, 1),
    rgba(255, 255, 255, 0) 30%
  );
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card-2 {
  box-sizing: border-box;
  border: 0.94px solid rgba(255, 244, 220, 1);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(255, 244, 220, 1),
    rgba(255, 255, 255, 1) 40%
  );
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card-3 {
  box-sizing: border-box;
  border: 0.94px solid rgba(222, 245, 255, 1);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgba(238, 225, 255, 1),
      rgba(255, 255, 255, 0) 40%
    ),
    rgba(255, 255, 255, 1);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card-1,
.card-2,
.card-3 {
  color: rgba(128, 128, 128, 1);
  font-family: Raleway;
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}
.card-1,
.card-2,
.card-3 > h4 {
  color: rgba(32, 32, 32, 1);
}
.card-1 > h5 {
  color: #64c8ff;
}
.card-2 > h5 {
  color: #f0aa00;
}
.card-3 > h5 {
  color: #8700ff;
}
.for-back {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.for-back > div {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background-color: #f0aa00;
}
/* Our Stories */
.our-stories {
  background-image: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3),
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.our-stories-title {
  width: 98%;
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  display: inline-block;
  padding-bottom: 8px;
}

.our-stories-card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

.scard-1 {
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff8ef;

  justify-content: flex-start;
}

.scard-1 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  position: relative;
}
.scard-1 > h3 {
  /* A fun toddler coloring training on classroom */
  width: 402.49px;
  height: 69.98px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 38.35px;
  letter-spacing: 0%;
  text-align: left;
  margin: 30px 20px;
  margin-bottom: 10px;
}
.scard-1 > p {
  width: 433.06px;
  height: 75.74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(102, 102, 102, 1);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  margin: 10px 20px;
}
.scard-1 > button {
  /* Background */
  width: 174.51px;
  height: 47.93px;
  border-radius: 47.93px;
  border: none;
  background: rgba(60, 216, 232, 1);
  position: absolute;
  margin-top: -22px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.stories-card-half {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: stretch;
}

.stories-card-half > div {
  background-color: #fff8ef;
  border-radius: 10px;
  overflow: hidden;
}

.stories-card-half img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.scard-x {
  display: none;
}
.scard-2 > h4 {
  /* Heading 4 → Link */
  width: 214px;
  height: 57.52px;
  margin: 0px 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.scard-2 > button {
  /* Background */
  width: 144.51px;
  height: 28.35px;
  border-radius: 47.93px;
  border: none;
  background: rgba(149, 178, 38, 1);
  position: absolute;
  margin-top: -15px;
  margin-left: 15px;
}
.scard-3 > h4 {
  /* Heading 4 → Link */
  width: 214px;
  height: 57.52px;
  margin: 0px 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.scard-3 > button {
  /* Background */
  width: 144.51px;
  height: 28.35px;
  border-radius: 47.93px;
  border: none;

  background: rgba(93, 88, 240, 1);
  position: absolute;
  margin-top: -15px;
  margin-left: 15px;
}
.scard-4 > h4 {
  /* Heading 4 → Link */
  width: 214px;
  height: 57.52px;
  margin: 0px 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.scard-4 > button {
  /* Background */
  width: 144.51px;
  height: 28.35px;
  border-radius: 47.93px;
  border: none;
  background: rgba(149, 178, 38, 1);
  position: absolute;
  margin-top: -15px;
  margin-left: 15px;
}
.scard-5 > h4 {
  /* Heading 4 → Link */
  width: 214px;
  height: 57.52px;
  margin: 0px 15px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.scard-5 > button {
  /* Background */
  width: 144.51px;
  height: 28.35px;
  border-radius: 47.93px;
  border: none;
  background: rgba(149, 178, 38, 1);
  position: absolute;
  margin-top: -15px;
  margin-left: 15px;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
  /* Navbar style */
  hr {
    display: block;
    width: 100%;
    border: 0.5px solid var(--Orange, rgba(254, 163, 1, 1));
  }
  .nav-1 > h3 {
    display: none;
  }
  .nav-2 > ul,
  .nav-3 > button {
    display: none;
  }
  .nav-3 > i {
    display: block;
  }
  header {
   
    margin: 0px auto;
  }
  /* Banner Style */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-description > h3 {
    width: 100%;
    text-align: center;
  }
  .banner-description > p {
    width: 100%;
    text-align: center;
  }
  .banner-description > button {
    margin: 0px auto;
  }
  .banner-img > img {
    width: 340px;

    margin-top: 10px;
  }
  /* Standard */
  .standard {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .for-back {
    display: none;
  }
  .standard-card-container {
    flex-direction: column;
  }
  /* Our Stories */
  .scard-1 {
    display: none;
  }
  .scard-x {
    display: block;
  }
  .scard-2 > img {
    object-fit: fill;
  }
  .scard-3 > img {
    object-fit: fill;
  }
  .scard-4 > img {
    object-fit: fill;
  }
  .scard-5 > img {
    object-fit: fill;
  }
  .scard-2 > h4 {
    width: 90%;
    font-size: 13px;
    margin: 0px;
    margin-top: 35px;
    margin-left: 15px;
  }
  .scard-3 > h4 {
    width: 92%;
    font-size: 13px;
    margin: 0px auto;
    margin-top: 35px;
    margin-left: 15px;
  }
  .scard-4 > h4 {
    width: 95%;
    font-size: 13px;
    margin: 0px;
    margin-top: 35px;
    margin-left: 15px;
  }
  .scard-5 > h4 {
    width: 95%;
    font-size: 13px;
    margin: 0px;
    margin-top: 35px;
    margin-left: 15px;
  }
  .scard-2 > button {
    width: 120px;
    font-size: 12px;
  }
  .scard-3 > button {
    width: 120px;
    font-size: 12px;
  }
  .scard-4 > button {
    width: 120px;
    font-size: 12px;
  }
  .scard-5 > button {
    width: 120px;
    font-size: 12px;
  }
  .stories-card-half {
    width: 100%;
  }
  .our-stories-card-container {
    width: 90%;
  }
}
